{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <ul class="pagination">
        {% if first is defined and current != first %}
            <li class="first">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&laquo;</a>
            </li>
        {% endif %}

        {% if previous is defined %}
            <li class="previous">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Previous</a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li  class="page-item active">
                    <a class="page-link">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li class="next">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Next</a>
            </li>
        {% endif %}

        {% if last is defined and current != last %}
            <li class="last">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
